WindowClientSide/WindowClientSide/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddDataInProjectTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDataInProjectTableResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllProjectsByName">
        <s:complexType />
      </s:element>
      <s:element name="GetAllProjectsByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllProjectsByNameResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteDataInProjectTableById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDataInProjectTableByIdResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddDataInProjectTableSoapIn">
    <wsdl:part name="parameters" element="tns:AddDataInProjectTable" />
  </wsdl:message>
  <wsdl:message name="AddDataInProjectTableSoapOut">
    <wsdl:part name="parameters" element="tns:AddDataInProjectTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllProjectsByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllProjectsByName" />
  </wsdl:message>
  <wsdl:message name="GetAllProjectsByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllProjectsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDataInProjectTableByIdSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDataInProjectTableById" />
  </wsdl:message>
  <wsdl:message name="DeleteDataInProjectTableByIdSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDataInProjectTableByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="AddDataInProjectTable">
      <wsdl:input message="tns:AddDataInProjectTableSoapIn" />
      <wsdl:output message="tns:AddDataInProjectTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProjectsByName">
      <wsdl:input message="tns:GetAllProjectsByNameSoapIn" />
      <wsdl:output message="tns:GetAllProjectsByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDataInProjectTableById">
      <wsdl:input message="tns:DeleteDataInProjectTableByIdSoapIn" />
      <wsdl:output message="tns:DeleteDataInProjectTableByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDataInProjectTable">
      <soap:operation soapAction="http://tempuri.org/AddDataInProjectTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProjectsByName">
      <soap:operation soapAction="http://tempuri.org/GetAllProjectsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataInProjectTableById">
      <soap:operation soapAction="http://tempuri.org/DeleteDataInProjectTableById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDataInProjectTable">
      <soap12:operation soapAction="http://tempuri.org/AddDataInProjectTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProjectsByName">
      <soap12:operation soapAction="http://tempuri.org/GetAllProjectsByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataInProjectTableById">
      <soap12:operation soapAction="http://tempuri.org/DeleteDataInProjectTableById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44339/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44339/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>