WindowClientSide/WindowClientSide/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddDataInProjectTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="projectName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDataInProjectTableResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllProjectsByName">
        <s:complexType />
      </s:element>
      <s:element name="GetAllProjectsByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllProjectsByNameResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DeleteDataInProjectTableById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDataInProjectTableByIdResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteDataInProjectTableByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDataInProjectTableByNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateDataInProjectTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idForSelecting" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataInProjectTableResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddDataInSprinTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sprintName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sprintPeriod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="productIncrementVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDataInSprinTableResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllSprintsByName">
        <s:complexType />
      </s:element>
      <s:element name="GetAllSprintsByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllSprintsByNameResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDataInSprintTableByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDataInSprintTableByNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddDataInUserTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="role" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDataInUserTableResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUsersByEmail">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUsersByEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUsersByEmailResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDataInUserTableByEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDataInUserTableByEmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddDataInTaskTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="reporter" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="responsible" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sprint" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="estimation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="priority" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="labels" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectPart" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDataInTaskTableResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTasksByTitle">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTasksByTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTasksByTitleResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTasksByStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTasksByStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTasksByStatusResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTaskInfoByTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTaskInfoByTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTaskInfoByTitleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUserInfoById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUserInfoByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUserInfoByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectInfoById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectInfoByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectInfoByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSprintInfoById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSprintInfoByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSprintInfoByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddDataInProjectTableSoapIn">
    <wsdl:part name="parameters" element="tns:AddDataInProjectTable" />
  </wsdl:message>
  <wsdl:message name="AddDataInProjectTableSoapOut">
    <wsdl:part name="parameters" element="tns:AddDataInProjectTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllProjectsByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllProjectsByName" />
  </wsdl:message>
  <wsdl:message name="GetAllProjectsByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllProjectsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDataInProjectTableByIdSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDataInProjectTableById" />
  </wsdl:message>
  <wsdl:message name="DeleteDataInProjectTableByIdSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDataInProjectTableByIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDataInProjectTableByNameSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDataInProjectTableByName" />
  </wsdl:message>
  <wsdl:message name="DeleteDataInProjectTableByNameSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDataInProjectTableByNameResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDataInProjectTableSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDataInProjectTable" />
  </wsdl:message>
  <wsdl:message name="UpdateDataInProjectTableSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDataInProjectTableResponse" />
  </wsdl:message>
  <wsdl:message name="AddDataInSprinTableSoapIn">
    <wsdl:part name="parameters" element="tns:AddDataInSprinTable" />
  </wsdl:message>
  <wsdl:message name="AddDataInSprinTableSoapOut">
    <wsdl:part name="parameters" element="tns:AddDataInSprinTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllSprintsByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSprintsByName" />
  </wsdl:message>
  <wsdl:message name="GetAllSprintsByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSprintsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDataInSprintTableByNameSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDataInSprintTableByName" />
  </wsdl:message>
  <wsdl:message name="DeleteDataInSprintTableByNameSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDataInSprintTableByNameResponse" />
  </wsdl:message>
  <wsdl:message name="AddDataInUserTableSoapIn">
    <wsdl:part name="parameters" element="tns:AddDataInUserTable" />
  </wsdl:message>
  <wsdl:message name="AddDataInUserTableSoapOut">
    <wsdl:part name="parameters" element="tns:AddDataInUserTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersByEmailSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUsersByEmail" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersByEmailSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUsersByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDataInUserTableByEmailSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDataInUserTableByEmail" />
  </wsdl:message>
  <wsdl:message name="DeleteDataInUserTableByEmailSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDataInUserTableByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="AddDataInTaskTableSoapIn">
    <wsdl:part name="parameters" element="tns:AddDataInTaskTable" />
  </wsdl:message>
  <wsdl:message name="AddDataInTaskTableSoapOut">
    <wsdl:part name="parameters" element="tns:AddDataInTaskTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTasksByTitleSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTasksByTitle" />
  </wsdl:message>
  <wsdl:message name="GetAllTasksByTitleSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTasksByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTasksByStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTasksByStatus" />
  </wsdl:message>
  <wsdl:message name="GetAllTasksByStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTasksByStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTaskInfoByTitleSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTaskInfoByTitle" />
  </wsdl:message>
  <wsdl:message name="GetAllTaskInfoByTitleSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTaskInfoByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUserInfoByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUserInfoById" />
  </wsdl:message>
  <wsdl:message name="GetAllUserInfoByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUserInfoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectInfoByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectInfoById" />
  </wsdl:message>
  <wsdl:message name="GetProjectInfoByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectInfoByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetSprintInfoByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetSprintInfoById" />
  </wsdl:message>
  <wsdl:message name="GetSprintInfoByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetSprintInfoByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="AddDataInProjectTable">
      <wsdl:input message="tns:AddDataInProjectTableSoapIn" />
      <wsdl:output message="tns:AddDataInProjectTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProjectsByName">
      <wsdl:input message="tns:GetAllProjectsByNameSoapIn" />
      <wsdl:output message="tns:GetAllProjectsByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDataInProjectTableById">
      <wsdl:input message="tns:DeleteDataInProjectTableByIdSoapIn" />
      <wsdl:output message="tns:DeleteDataInProjectTableByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDataInProjectTableByName">
      <wsdl:input message="tns:DeleteDataInProjectTableByNameSoapIn" />
      <wsdl:output message="tns:DeleteDataInProjectTableByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDataInProjectTable">
      <wsdl:input message="tns:UpdateDataInProjectTableSoapIn" />
      <wsdl:output message="tns:UpdateDataInProjectTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDataInSprinTable">
      <wsdl:input message="tns:AddDataInSprinTableSoapIn" />
      <wsdl:output message="tns:AddDataInSprinTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSprintsByName">
      <wsdl:input message="tns:GetAllSprintsByNameSoapIn" />
      <wsdl:output message="tns:GetAllSprintsByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDataInSprintTableByName">
      <wsdl:input message="tns:DeleteDataInSprintTableByNameSoapIn" />
      <wsdl:output message="tns:DeleteDataInSprintTableByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDataInUserTable">
      <wsdl:input message="tns:AddDataInUserTableSoapIn" />
      <wsdl:output message="tns:AddDataInUserTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersByEmail">
      <wsdl:input message="tns:GetAllUsersByEmailSoapIn" />
      <wsdl:output message="tns:GetAllUsersByEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDataInUserTableByEmail">
      <wsdl:input message="tns:DeleteDataInUserTableByEmailSoapIn" />
      <wsdl:output message="tns:DeleteDataInUserTableByEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDataInTaskTable">
      <wsdl:input message="tns:AddDataInTaskTableSoapIn" />
      <wsdl:output message="tns:AddDataInTaskTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksByTitle">
      <wsdl:input message="tns:GetAllTasksByTitleSoapIn" />
      <wsdl:output message="tns:GetAllTasksByTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksByStatus">
      <wsdl:input message="tns:GetAllTasksByStatusSoapIn" />
      <wsdl:output message="tns:GetAllTasksByStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTaskInfoByTitle">
      <wsdl:input message="tns:GetAllTaskInfoByTitleSoapIn" />
      <wsdl:output message="tns:GetAllTaskInfoByTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfoById">
      <wsdl:input message="tns:GetAllUserInfoByIdSoapIn" />
      <wsdl:output message="tns:GetAllUserInfoByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectInfoById">
      <wsdl:input message="tns:GetProjectInfoByIdSoapIn" />
      <wsdl:output message="tns:GetProjectInfoByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSprintInfoById">
      <wsdl:input message="tns:GetSprintInfoByIdSoapIn" />
      <wsdl:output message="tns:GetSprintInfoByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDataInProjectTable">
      <soap:operation soapAction="http://tempuri.org/AddDataInProjectTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProjectsByName">
      <soap:operation soapAction="http://tempuri.org/GetAllProjectsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataInProjectTableById">
      <soap:operation soapAction="http://tempuri.org/DeleteDataInProjectTableById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataInProjectTableByName">
      <soap:operation soapAction="http://tempuri.org/DeleteDataInProjectTableByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDataInProjectTable">
      <soap:operation soapAction="http://tempuri.org/UpdateDataInProjectTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDataInSprinTable">
      <soap:operation soapAction="http://tempuri.org/AddDataInSprinTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSprintsByName">
      <soap:operation soapAction="http://tempuri.org/GetAllSprintsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataInSprintTableByName">
      <soap:operation soapAction="http://tempuri.org/DeleteDataInSprintTableByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDataInUserTable">
      <soap:operation soapAction="http://tempuri.org/AddDataInUserTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersByEmail">
      <soap:operation soapAction="http://tempuri.org/GetAllUsersByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataInUserTableByEmail">
      <soap:operation soapAction="http://tempuri.org/DeleteDataInUserTableByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDataInTaskTable">
      <soap:operation soapAction="http://tempuri.org/AddDataInTaskTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksByTitle">
      <soap:operation soapAction="http://tempuri.org/GetAllTasksByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksByStatus">
      <soap:operation soapAction="http://tempuri.org/GetAllTasksByStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTaskInfoByTitle">
      <soap:operation soapAction="http://tempuri.org/GetAllTaskInfoByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfoById">
      <soap:operation soapAction="http://tempuri.org/GetAllUserInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectInfoById">
      <soap:operation soapAction="http://tempuri.org/GetProjectInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSprintInfoById">
      <soap:operation soapAction="http://tempuri.org/GetSprintInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDataInProjectTable">
      <soap12:operation soapAction="http://tempuri.org/AddDataInProjectTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProjectsByName">
      <soap12:operation soapAction="http://tempuri.org/GetAllProjectsByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataInProjectTableById">
      <soap12:operation soapAction="http://tempuri.org/DeleteDataInProjectTableById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataInProjectTableByName">
      <soap12:operation soapAction="http://tempuri.org/DeleteDataInProjectTableByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDataInProjectTable">
      <soap12:operation soapAction="http://tempuri.org/UpdateDataInProjectTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDataInSprinTable">
      <soap12:operation soapAction="http://tempuri.org/AddDataInSprinTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSprintsByName">
      <soap12:operation soapAction="http://tempuri.org/GetAllSprintsByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataInSprintTableByName">
      <soap12:operation soapAction="http://tempuri.org/DeleteDataInSprintTableByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDataInUserTable">
      <soap12:operation soapAction="http://tempuri.org/AddDataInUserTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsersByEmail">
      <soap12:operation soapAction="http://tempuri.org/GetAllUsersByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDataInUserTableByEmail">
      <soap12:operation soapAction="http://tempuri.org/DeleteDataInUserTableByEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDataInTaskTable">
      <soap12:operation soapAction="http://tempuri.org/AddDataInTaskTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksByTitle">
      <soap12:operation soapAction="http://tempuri.org/GetAllTasksByTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasksByStatus">
      <soap12:operation soapAction="http://tempuri.org/GetAllTasksByStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTaskInfoByTitle">
      <soap12:operation soapAction="http://tempuri.org/GetAllTaskInfoByTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserInfoById">
      <soap12:operation soapAction="http://tempuri.org/GetAllUserInfoById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectInfoById">
      <soap12:operation soapAction="http://tempuri.org/GetProjectInfoById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSprintInfoById">
      <soap12:operation soapAction="http://tempuri.org/GetSprintInfoById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44339/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44339/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>